flows/perf.batch-for.yml
id: batch-for
namespace: perf

description: start this flow to trigger all the children

labels:
  start: here
  target: performance-testing

variables:
  things:
    - "one"
    - "two"
    - "three"
    - "four"
    - "five"
    - "six"
    - "seven"
    - "eight"
    - "nine"
    - "ten"
    - "eleven"
    - "twelve"
    - "thirteen"
    - "fourteen"
    - "fifteen"
    - "sixteen"
    - "seventeen"
    - "eighteen"
    - "nineteen"
    - "twenty"
    - "twenty one"
    - "twenty two"
    - "twenty three"
    - "twenty four"
    - "twenty five"
    - "twenty six"
    - "twenty seven"
    - "twenty eight"
    - "twenty nine"
    - "thirty"
    - "thirty one"
    - "thirty two"
    - "thirty three"
    - "thirty four"
    - "thirty five"
    - "thirty six"
    - "thirty seven"
    - "thirty eight"
    - "thirty nine"
    - "forty"
    - "forty one"
    - "forty two"
    - "forty three"
    - "forty four"
    - "forty five"
    - "forty six"
    - "forty seven"
    - "forty eight"
    - "forty nine"
    - "fifty"
    - "fifty one"
    - "fifty two"
    - "fifty three"
    - "fifty four"
    - "fifty five"
    - "fifty six"
    - "fifty seven"
    - "fifty eight"
    - "fifty nine"
    - "sixty"
    - "sixty one"
    - "sixty two"
    - "sixty three"
    - "sixty four"
    - "sixty five"
    - "sixty six"
    - "sixty seven"
    - "sixty eight"
    - "sixty nine"
    - "seventy"
    - "seventy one"
    - "seventy two"
    - "seventy three"
    - "seventy four"
    - "seventy five"
    - "seventy six"
    - "seventy seven"
    - "seventy eight"
    - "seventy nine"
    - "eighty"
    - "eighty one"
    - "eighty two"
    - "eighty three"
    - "eighty four"
    - "eighty five"
    - "eighty six"
    - "eighty seven"
    - "eighty eight"
    - "eighty nine"
    - "ninety"
    - "ninety one"
    - "ninety two"
    - "ninety three"
    - "ninety four"
    - "ninety five"
    - "ninety six"
    - "ninety seven"
    - "ninety eight"
    - "ninety nine"
    - "one hundred"
    - "one hundred one"
    - "one hundred two"
    - "one hundred three"
    - "one hundred four"
    - "one hundred five"
    - "one hundred six"
    - "one hundred seven"
    - "one hundred eight"
    - "one hundred nine"
    - "one hundred ten"
    - "one hundred eleven"
    - "one hundred twelve"
    - "one hundred thirteen"
    - "one hundred fourteen"
    - "one hundred fifteen"
    - "one hundred sixteen"
    - "one hundred seventeen"
    - "one hundred eighteen"
    - "one hundred nineteen"
    - "one hundred twenty"
    - "one hundred twenty one"
    - "one hundred twenty two"
    - "one hundred twenty three"
    - "one hundred twenty four"
    - "one hundred twenty five"
    - "one hundred twenty six"
    - "one hundred twenty seven"
    - "one hundred twenty eight"
    - "one hundred twenty nine"
    - "one hundred thirty"
    - "one hundred thirty one"
    - "one hundred thirty two"
    - "one hundred thirty three"
    - "one hundred thirty four"
    - "one hundred thirty five"
    - "one hundred thirty six"
    - "one hundred thirty seven"
    - "one hundred thirty eight"
    - "one hundred thirty nine"
    - "one hundred forty"
    - "one hundred forty one"
    - "one hundred forty two"
    - "one hundred forty three"
    - "one hundred forty four"
    - "one hundred forty five"
    - "one hundred forty six"
    - "one hundred forty seven"
    - "one hundred forty eight"
    - "one hundred forty nine"
    - "one hundred fifty"
    - "one hundred fifty one"
    - "one hundred fifty two"
    - "one hundred fifty three"
    - "one hundred fifty four"
    - "one hundred fifty five"
    - "one hundred fifty six"
    - "one hundred fifty seven"
    - "one hundred fifty eight"
    - "one hundred fifty nine"
    - "one hundred sixty"
    - "one hundred sixty one"
    - "one hundred sixty two"
    - "one hundred sixty three"
    - "one hundred sixty four"
    - "one hundred sixty five"
    - "one hundred sixty six"
    - "one hundred sixty seven"
    - "one hundred sixty eight"
    - "one hundred sixty nine"
    - "one hundred seventy"
    - "one hundred seventy one"
    - "one hundred seventy two"
    - "one hundred seventy three"
    - "one hundred seventy four"
    - "one hundred seventy five"
    - "one hundred seventy six"
    - "one hundred seventy seven"
    - "one hundred seventy eight"
    - "one hundred seventy nine"
    - "one hundred eighty"
    - "one hundred eighty one"
    - "one hundred eighty two"
    - "one hundred eighty three"
    - "one hundred eighty four"
    - "one hundred eighty five"
    - "one hundred eighty six"
    - "one hundred eighty seven"
    - "one hundred eighty eight"
    - "one hundred eighty nine"
    - "one hundred ninety"
    - "one hundred ninety one"
    - "one hundred ninety two"
    - "one hundred ninety three"
    - "one hundred ninety four"
    - "one hundred ninety five"
    - "one hundred ninety six"
    - "one hundred ninety seven"
    - "one hundred ninety eight"
    - "one hundred ninety nine"
    - "two hundred"
    - "two hundred one"
    - "two hundred two"
    - "two hundred three"
    - "two hundred four"
    - "two hundred five"
    - "two hundred six"
    - "two hundred seven"
    - "two hundred eight"
    - "two hundred nine"
    - "two hundred ten"
    - "two hundred eleven"
    - "two hundred twelve"
    - "two hundred thirteen"
    - "two hundred fourteen"
    - "two hundred fifteen"
    - "two hundred sixteen"
    - "two hundred seventeen"
    - "two hundred eighteen"
    - "two hundred nineteen"
    - "two hundred twenty"
    - "two hundred twenty one"
    - "two hundred twenty two"
    - "two hundred twenty three"
    - "two hundred twenty four"
    - "two hundred twenty five"
    - "two hundred twenty six"
    - "two hundred twenty seven"
    - "two hundred twenty eight"
    - "two hundred twenty nine"
    - "two hundred thirty"
    - "two hundred thirty one"
    - "two hundred thirty two"
    - "two hundred thirty three"
    - "two hundred thirty four"
    - "two hundred thirty five"
    - "two hundred thirty six"
    - "two hundred thirty seven"
    - "two hundred thirty eight"
    - "two hundred thirty nine"
    - "two hundred forty"
    - "two hundred forty one"
    - "two hundred forty two"
    - "two hundred forty three"
    - "two hundred forty four"
    - "two hundred forty five"
    - "two hundred forty six"
    - "two hundred forty seven"
    - "two hundred forty eight"
    - "two hundred forty nine"
    - "two hundred fifty"
    - "two hundred fifty one"
    - "two hundred fifty two"
    - "two hundred fifty three"
    - "two hundred fifty four"
    - "two hundred fifty five"
    - "two hundred fifty six"
    - "two hundred fifty seven"
    - "two hundred fifty eight"
    - "two hundred fifty nine"
    - "two hundred sixty"
    - "two hundred sixty one"
    - "two hundred sixty two"
    - "two hundred sixty three"
    - "two hundred sixty four"
    - "two hundred sixty five"
    - "two hundred sixty six"
    - "two hundred sixty seven"
    - "two hundred sixty eight"
    - "two hundred sixty nine"
    - "two hundred seventy"
    - "two hundred seventy one"
    - "two hundred seventy two"
    - "two hundred seventy three"
    - "two hundred seventy four"
    - "two hundred seventy five"
    - "two hundred seventy six"
    - "two hundred seventy seven"
    - "two hundred seventy eight"
    - "two hundred seventy nine"
    - "two hundred eighty"
    - "two hundred eighty one"
    - "two hundred eighty two"
    - "two hundred eighty three"
    - "two hundred eighty four"
    - "two hundred eighty five"
    - "two hundred eighty six"
    - "two hundred eighty seven"
    - "two hundred eighty eight"
    - "two hundred eighty nine"
    - "two hundred ninety"
    - "two hundred ninety one"
    - "two hundred ninety two"
    - "two hundred ninety three"
    - "two hundred ninety four"
    - "two hundred ninety five"
    - "two hundred ninety six"
    - "two hundred ninety seven"
    - "two hundred ninety eight"
    - "two hundred ninety nine"
    - "three hundred"
    - "three hundred one"
    - "three hundred two"
    - "three hundred three"
    - "three hundred four"
    - "three hundred five"
    - "three hundred six"
    - "three hundred seven"
    - "three hundred eight"
    - "three hundred nine"
    - "three hundred ten"
    - "three hundred eleven"
    - "three hundred twelve"
    - "three hundred thirteen"
    - "three hundred fourteen"
    - "three hundred fifteen"
    - "three hundred sixteen"
    - "three hundred seventeen"
    - "three hundred eighteen"
    - "three hundred nineteen"
    - "three hundred twenty"
    - "three hundred twenty one"
    - "three hundred twenty two"
    - "three hundred twenty three"
    - "three hundred twenty four"
    - "three hundred twenty five"
    - "three hundred twenty six"
    - "three hundred twenty seven"
    - "three hundred twenty eight"
    - "three hundred twenty nine"
    - "three hundred thirty"
    - "three hundred thirty one"
    - "three hundred thirty two"
    - "three hundred thirty three"
    - "three hundred thirty four"
    - "three hundred thirty five"
    - "three hundred thirty six"
    - "three hundred thirty seven"
    - "three hundred thirty eight"
    - "three hundred thirty nine"
    - "three hundred forty"
    - "three hundred forty one"
    - "three hundred forty two"
    - "three hundred forty three"
    - "three hundred forty four"
    - "three hundred forty five"
    - "three hundred forty six"
    - "three hundred forty seven"
    - "three hundred forty eight"
    - "three hundred forty nine"
    - "three hundred fifty"

tasks:
  - id: do-work
    type: io.kestra.core.tasks.flows.Subflow
    namespace: perf
    flowId: process-batch
    inheritLabels: true
    inputs:
      things: "{{ vars.things }}"
    wait: true

  - id: done
    type: io.kestra.core.tasks.flows.Subflow
    namespace: perf
    flowId: wrapup
    inputs:
      stuff: "{{ outputs['do-work'].outputs.results }}"

  - id: logit
    type: io.kestra.core.tasks.log.Log
    message: done processing {{ vars.things | length }} things
